{% extends 'hw/base.html' %}

    {% block content %}
    <h1>About this page<h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A est possimus temporibus nisi! Temporibus, blanditiis non, dolorem sapiente velit modi natus quam tempora architecto possimus mollitia, perferendis quia doloribus molestiae!
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A est possimus temporibus nisi! Temporibus, blanditiis non, dolorem sapiente velit modi natus quam tempora architecto possimus mollitia, perferendis quia doloribus molestiae!
    </p>

{% endblock %}